@model IEnumerable<KeyboardViewModel>

@{
    ViewBag.Title = "Keyboards";
    Layout = "_Layout";
}

<aside id="filter-sidebar" class="filter-sidebar">
    <form id="filter-form" class="filter-list" asp-action="Keyboards" asp-controller="Goods" method="get">
        <label class="filter-category-name">BRAND</label>
        @foreach (var manufacturer in ViewBag.Manufacturers)
        {
            <div class="filter-option-group">
                <input type="checkbox" value="@manufacturer.Id" name="manufacturerIds" checked="@(Context.Request.Query["manufacturerIds"].Contains(((int)manufacturer.Id).ToString()))"/>
                <div class="filter-option-label">@manufacturer.Name</div>
            </div>
        }
        <label class="filter-category-name">TYPE</label>
        @foreach (var type in ViewBag.Types)
        {
            <div class="filter-option-group">
                <input type="checkbox" value="@type.Id" name="keyboardTypeIds" checked="@(Context.Request.Query["keyboardTypeIds"].Contains(((int)type.Id).ToString()))"/>
                <div class="filter-option-label">@type.Name</div>
            </div>
        }
        <label class="filter-category-name">FORMAT</label>
        @foreach (var size in ViewBag.Sizes)
        {
            <div class="filter-option-group">
                <input type="checkbox" value="@size.Id" name="keyboardSizeIds" checked="@(Context.Request.Query["keyboardSizeIds"].Contains(((int)size.Id).ToString()))"/>
                <div class="filter-option-label">@size.Name</div>
            </div>
        }
        <label class="filter-category-name">SWITCHES</label>
        @foreach (var sw in ViewBag.Switches)
        {
            <div class="filter-option-group">
                <input type="checkbox" value="@sw.Id" name="switchIds" checked="@(Context.Request.Query["switchIds"].Contains(((int)sw.Id).ToString()))"/>
                <div class="filter-option-label">@sw.Name</div>
            </div>
        }
        <label class="filter-category-name">CONNECTION TYPE</label>
        @foreach (var ct in ViewBag.ConnectionTypes)
        {
            <div class="filter-option-group">
                <input type="checkbox" value="@ct.Id" name="connectionTypeIds" checked="@(Context.Request.Query["connectionTypeIds"].Contains(((int)ct.Id).ToString()))"/>
                <div class="filter-option-label">@ct.Name</div>
            </div>
        }
        <label class="filter-category-name">BACKLIGHT</label>
        @foreach (var b in ViewBag.Backlights)
        {
            <div class="filter-option-group">
                <input type="checkbox" value="@b.Id" name="backlightIds" checked="@(Context.Request.Query["backlightIds"].Contains(((int)b.Id).ToString()))"/>
                <div class="filter-option-label">@b.Name</div>
            </div>
        }
        <label class="filter-category-name">KEY ROLLOVER</label>
        @foreach (var kr in ViewBag.KeyRollovers)
        {
            <div class="filter-option-group">
                <input type="checkbox" value="@kr.Id" name="keyRolloverIds" checked="@(Context.Request.Query["keyRolloverIds"].Contains(((int)kr.Id).ToString()))"/>
                <div class="filter-option-label">@kr.Name</div>
            </div>
        }
        <label class="filter-category-name">PRICE</label>
        <div class="filter-option-group">
            <div class="filter-option-label">Min. $</div>
            <input type="number" step="0.01" name="minPrice" min="0" max="1000" class="filter-option-price-input" value="@Context.Request.Query["minPrice"]"/>
        </div>
        <div class="filter-option-group">
            <div class="filter-option-label">Max.$</div>
            <input type="number" step="0.01" name="maxPrice" min="0" max="1000" class="filter-option-price-input" value="@Context.Request.Query["maxPrice"]"/>
        </div>

        <input type="submit" value="APPLY" class="filter-submit"/>
    </form>
    <button class="filter-button" onclick="toggleFilter()">
        FILTER
    </button>
</aside>
<div class="goods-title">KEYBOARDS</div>
<div class="goods-container">
    @foreach (var keyboard in Model)
    {
        @await Html.PartialAsync("_Keyboard", keyboard)
    }
</div>
<script>
    function toggleFilter() {
        let sidebar = document.getElementById("filter-sidebar");
        if (sidebar.style.left === "0px")
            sidebar.style.left = "-180px";
        else
            sidebar.style.left = "0px";
    }
    
    let myForm = document.getElementById('filter-form');
        myForm.addEventListener('submit', function () {
            let allInputs = myForm.getElementsByTagName('input');
            for (let i = 0; i < allInputs.length; i++) {
                let input = allInputs[i];
                if (input.name && !input.value) {
                    input.name = '';
                }
            }
        });
</script>