@model IEnumerable<MousepadViewModel>

@{
    ViewBag.Title = "Mousepads";
    Layout = "_Layout";
}

<aside id="filter-sidebar" class="filter-sidebar d-flex flex-row">
    <form id="filter-form" class="filter-list d-flex flex-column align-items-center justify-content-start" asp-action="Index" asp-controller="Mousepads" method="get">
        <label class="filter-category-name">BRAND</label>
        @foreach (var manufacturer in ViewBag.Manufacturers)
        {
            <div class="filter-option-group">
                <input type="checkbox" value="@manufacturer" name="manufacturers" checked="@Context.Request.Query["manufacturers"].Contains((string)manufacturer)"/>
                <div class="filter-option-label">@manufacturer</div>
            </div>
        }
        <label class="filter-category-name">TOP MATERIAL</label>
        @foreach (var topMaterial in ViewBag.TopMaterials)
        {
            <div class="filter-option-group">
                <input type="checkbox" value="@topMaterial" name="topMaterials" checked="@Context.Request.Query["topMaterials"].Contains((string)topMaterial)"/>
                <div class="filter-option-label">@topMaterial</div>
            </div>
        }
        <label class="filter-category-name">BOTTOM MATERIAL</label>
        @foreach (var bottomMaterial in ViewBag.BottomMaterials)
        {
            <div class="filter-option-group">
                <input type="checkbox" value="@bottomMaterial" name="bottomMaterials" checked="@Context.Request.Query["bottomMaterials"].Contains((string)bottomMaterial)"/>
                <div class="filter-option-label">@bottomMaterial</div>
            </div>
        }
        <label class="filter-category-name">BACKLIGHT</label>
        @foreach (var backlight in ViewBag.Backlights)
        {
            <div class="filter-option-group">
                <input type="checkbox" value="@backlight" name="backlights" checked="@Context.Request.Query["backlights"].Contains((string)backlight)"/>
                <div class="filter-option-label">@backlight</div>
            </div>
        }
        <label class="filter-category-name">STITCHED</label>
        <div class="filter-option-group">
            <input type="checkbox" value="true" name="isStitchedValues" checked="@(Context.Request.Query["isStitchedValues"].Contains("true"))"/>
            <div class="filter-option-label">Yes</div>
        </div>
        <div class="filter-option-group">
            <input type="checkbox" value="false" name="isStitchedValues" checked="@(Context.Request.Query["isStitchedValues"].Contains("false"))"/>
            <div class="filter-option-label">No</div>
        </div>
        <label class="filter-category-name">PRICE</label>
        <div class="filter-option-group">
            <div class="filter-option-label">Min. </div>
            <input type="number" step="0.01" name="minPrice" min="0" max="1000" class="filter-option-price-input" value="@Context.Request.Query["minPrice"]"/>
        </div>
        <div class="filter-option-group">
            <div class="filter-option-label">Max.</div>
            <input type="number" step="0.01" name="maxPrice" min="0" max="1000" class="filter-option-price-input" value="@Context.Request.Query["maxPrice"]"/>
        </div>

        <input type="submit" value="APPLY" class="filter-submit d-flex align-items-center justify-content-center"/>
    </form>
    <button class="filter-button d-flex align-items-center justify-content-center" onclick="toggleFilter()">
        FILTER
    </button>
</aside>
<h1 class="goods-title">MOUSEPADS</h1>
<section class="goods-container goods-container d-flex flex-column align-items-center justify-content-center">
    @foreach (var mousepad in Model)
    {
        @await Html.PartialAsync("_Mousepad", mousepad)
    }
</section>