@model GamepadViewModel

<a class="goods-tile" asp-action="Gamepad" asp-controller="Goods" asp-route-id="@Model.Id">
    <div class="goods-image-container">
        <img src="@Model.ThumbnailImageUrl" alt="@Model.Name"/>
    </div>
    <div class="goods-info">
        <h3>@Model.Name</h3>
        <div class="goods-details">
            <div class="goods-details-column">
                <p>Connection type: @string.Join("/", Model.ConnectionType)</p>
                <p>Feedback: @Model.Feedback</p>
            </div>
            <div class="goods-details-column">
                <p>Weigth: @Model.Weight g</p>
            </div>
        </div>
    </div>
</a>